In [1]:
import glob

#긍정리뷰 100개 로딩
pos_review=(glob.glob("d:/data/imdb/train/pos/*.txt"))[0:100]
lines_pos=[]
for i in pos_review:
    try:
        f=open(i,"r")
        temp=f.readlines()[0]
        lines_pos.append(temp)
        f.close()
    except:
        continue
        
print(len(lines_pos))
print(lines_pos[0])

100
Bromwell High is a cartoon comedy. It ran at the same time as some other programs about school life, such as "Teachers". My 35 years in the teaching profession lead me to believe that Bromwell High's satire is much closer to reality than is "Teachers". The scramble to survive financially, the insightful students who can see right through their pathetic teachers' pomp, the pettiness of the whole situation, all remind me of the schools I knew and their students. When I saw the episode in which a student repeatedly tried to burn down the school, I immediately recalled ......... at .......... High. A classic line: INSPECTOR: I'm here to sack one of your teachers. STUDENT: Welcome to Bromwell High. I expect that many adults of my age think that Bromwell High is far fetched. What a pity that it isn't!

In [2]:
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from sklearn.feature_extraction.text import TfidfVectorizer

tokenizer=RegexpTokenizer("[\w]+") #정규표현식
stop_words=stopwords.words("english") #영어 불용어 사전
# 불용어를 제거한 후 TF-IDF 가중치 할당
vec=TfidfVectorizer(stop_words=stop_words)
vector_lines_pos=vec.fit_transform(lines_pos)
A=vector_lines_pos.toarray()
print(A.shape)
print(A)

(100, 4001)
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.06538462 0.         ... 0.         0.         0.        ]
 [0.         0.23078109 0.         ... 0.         0.         0.        ]]

In [3]:
A=A.transpose()
print(A.shape)
print(A)

(4001, 100)
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.06538462 0.23078109]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [5]:
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
#두 단어의 코사인 유사도 계산
A_sparse=sparse.csr_matrix(A)
similarities_sparse=cosine_similarity(A_sparse,dense_output=False)
list(similarities_sparse.todok().items())[35000:35010]
# 1469,108 단어의 유사도는 37.8%

[((1469, 108), 0.37803585968894826),
 ((1470, 108), 0.21896854347467395),
 ((1476, 108), 0.06407477897013802),
 ((1477, 108), 0.1851895775142377),
 ((1480, 108), 0.2011103687616941),
 ((1489, 108), 0.06995711757772093),
 ((1496, 108), 0.10714874067068894),
 ((1503, 108), 0.3048733383009192),
 ((1504, 108), 0.3048733383009192),
 ((1512, 108), 0.3048733383009192)]

In [6]:
print(vec.get_feature_names()[1469])
print(vec.get_feature_names()[108])
#fraud와 actual의 유사도는 37.8%

fraud
actual

In [10]:
print(vec.get_feature_names()[1503])
print(vec.get_feature_names()[108])
#gain와 actual의 유사도는 30.4%

gain
actual

In [11]:
print(vec.get_feature_names()[3971])
print(vec.get_feature_names()[3372])
#writers와 stop의 유사도는 49.9%

writers
stop

In [9]:
import pandas as pd
import numpy as np

df=pd.DataFrame(list(similarities_sparse.todok().items()),
               columns=["words","weight"])
df2=df.sort_values(by=["weight"],ascending=False)
df2=df2.reset_index(drop=True)
df3=df2.loc[np.round(df2["weight"])<1]
df3=df3.reset_index(drop=True)
df3.head(10)

          words    weight
0  (3971, 3372)  0.499961
1  (3372, 3971)  0.499961
2  (2554, 1192)  0.499958
3  (1192, 2554)  0.499958
4  (2468, 1321)  0.499957
5   (710, 2468)  0.499957
6   (2468, 710)  0.499957
7  (1321, 2468)  0.499957
8   (889, 2146)  0.499909
9   (2146, 889)  0.499909